body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

.mt2 {
  margin-top: 2rem;
}

.todoText {
  color: black;
  transition: text-decoration 0.3s;
}

.todo,
.completed-todo {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.brand-logo {
  margin-left: 20px;
}

.container-nav a {
  color: #424242;
  font-size: 25px;
  transition: font-size 0.3s ease;
  text-decoration: none;
}

.completed-todo span {
  opacity: 20%;
}

.container-nav a:hover {
  font-size: 30px;
}
@media (max-width: 990px) {
  .container-nav a {
    font-size: 15px;
    transition: none;
  }
  .container-nav a:hover {
    font-size: 15px;
  }
  .todo {
    font-size: 5px;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 20px;
  }
  .todoText {
    font-size: 25px;
  }
  .input-field > label {
    font-size: 1.2rem;
  }
}
